<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            {{!-- pull title out of database json and then add the link as an a href--}}
            {{title}}
        </div>
        <div class="card-body">
            {{!-- pull teaser text out of database json --}}
            {{teaser}}
            <button class="btn btn-secondary">Save Article</button>
        </div>
    </div>      
</div>