<div class="col-sm-6">
    <div class="card mb-4">
        <div class="card-header">
            {{!-- pull title out of database json and then add the link as an a href--}}
            <a href={{link}} class="article-title">{{title}}</a>
        </div>
        <div class="card-body">
            {{!-- pull teaser text out of database json --}}
            <p>{{teaser}}</p>
            <button class="btn btn-secondary">Save Article</button>
        </div>
    </div>      
</div>