<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Washington Post Tech News Scraper</a>
  <button class="ml-auto btn btn-secondary" id="view-saved">View Saved Articles</button>
</nav>