<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Washington Post News Scraper</a>
  <a class="ml-auto btn btn-secondary" id="view-saved" href="/saved">View Saved Articles</a>
</nav>